<h1>Filtered Results</h1>
<p>Found <%= @products.size %> <%= @filtered_category %> Power-ups</p>

<% @products.each do |product| %>
  <div class="product">
    <%= render @products %>
  </div>
<% end %>