<h1>Filtered Results</h1>
<p>Found <%= @products.size %> <%= @products.first.category.name %>  Power-ups</p>

<% @products.each do |product| %>
  <div class="product">
    <%= render product %>
  </div>
<% end %>