<h1>Filtered Results</h1>
<p>Found <%= @products.size %> <%= @products.first.category.name %>  Power-ups</p>

<div class="container" >
  <div class="row">
    <%= render @products %>
  </div>

  <footer class="container-fluid text-center">
    <p><%= paginate @products %></p>
  </footer>
</div>