
    <div class="col-sm-2 well">
      <div class="well">
        <p><a href="#"><%= product.name %></a></p>
        <p><%= image_tag(product.image) %></p>
      </div>
      <div class="well">
        <p><a href="#">Tags:</a></p>
        <p>
          <span class="label label-info"><%= product.category.name %></span>
          <% if product.on_sale %>
          <span class="label label-danger">ON SALE!</span>
        <% end %>
        <% if product.new %>
          <span class="label label-warning">NEW!</span>
        <% end %>
        </p>
      </div>
    </div>
